.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.btn-outline-primary {
    border-radius: 10px;
    font-weight: bold;
}

.btn-primary {
    border-radius: 10px;
    font-weight: bold;
}


header h1 {
    font-size: 32px;    
}

header p {
    font-size: 18px;
}

.card {
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-body .btn-outline-danger {
    width: 35px;
    height: 35px;
    transition: transform 0.2s, color 0.2s;
}

.card-body .btn-outline-danger:active {
    transform: scale(1.3);
    color: red;
}

.card-body .btn-dark {
    border-radius: 10px;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

